.q_a_title{padding:10px 20px;font-size: 16px;border-bottom: 1px solid ghostwhite;}

.motto{font-size: 18px;font-weight: bold;color: #636363;}
.bt{font-size: 16px;font-weight: bold;color: #636363;}
.provide{font-size: 16px;color: #636363;}