body{margin: 0px;padding: 0px;background: ghostwhite;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;}

.small_card{width: 100%;height: 100%;}
