.crad_title{padding:10px 20px;font-size: 16px;border-bottom: 1px solid ghostwhite;}
#notice{height: 300px;padding: 0px;}
#hot_lable{height: 300px;}
#blog{width: 100%; height: 890px;}

#hot_qa{height: 710px;}
#hot_problem{height: 710px;}


#hot_special{height: 610px;}
#open_source_ranking{height: 610px;}


#tagsList {position: relative;height:70%;margin-top: 20px;}
#tagsList a {position: absolute;top: 0px;left: 0px;color:green;font-weight: bold;text-decoration: none;padding: 3px 6px;}
#tagsList a:hover {color: #FF0000;letter-spacing: 2px;}

#test{width: 100%; height: 400px;}

.lable{border: 1px solid gainsboro; border-radius: 10px;padding: 3px 5px;}