body{background: ghostwhite;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;}
#logo{margin-top: 25px;}
.menu_title{font-weight:600;}

.weibo{background: url(../img/login_icons_small.svg) 0 0 no-repeat;width: 70px;height: 70px;}
.weibo:hover{background: url(../img/login_icons_small.svg) 0px -80px no-repeat;width: 70px;height: 70px;}

.qzone{background: url(../img/login_icons_small.svg) -75px 0px no-repeat;width: 70px;height: 70px;}
.qzone:hover{background: url(../img/login_icons_small.svg) -75px -160px no-repeat;width: 70px;height: 70px;}

.wechat{background: url(../img/login_icons_small.svg) -314px 0px no-repeat;width: 70px;height: 70px;}
.wechat:hover{background: url(../img/login_icons_small.svg) -314px -160px no-repeat;width: 70px;height: 70px;}


.login_register a:link {color:#4C4C4C;text-decoration:blink;}
.login_register a:visited {color:#4C4C4C;}
.login_register a:hover {color:#0d47a1;text-decoration:none;}
.login_register a:active {color:red;text-decoration:none;}

.flip-container {perspective: 1000;}
.flip-container.hover .flipper {transform: rotateY(180deg);}
.flip-container, .front, .back {width: 500px;height: 480px;}
.flipper {transition: 0.6s;transform-style: preserve-3d;position: relative;}
.front, .back {backface-visibility: hidden;position: absolute;top: 0;left: 0;}
.front {z-index: 2;}
.back {transform: rotateY(180deg);}

#footer{border: 1px solid ghostwhite;height: 280px;margin-top: 20px;}
#footer ul{margin: 0px;padding: 0px;margin-left: 20px;margin-top: 30px;}
#footer ul li{float: left;padding-right: 35px;font-size: 16px;font-weight: bold;}

#footer ul li a:link {color:#4C4C4C;text-decoration:blink;}
#footer ul li a:visited {color:#4C4C4C;}
#footer ul li a:hover {color:#0d47a1;text-decoration:none;}
#footer ul li a:active {color:red;text-decoration:none;}





