body{margin: 0px;padding: 0px;background: ghostwhite;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;}

.small_card{width: 100%;height: 100%;}
.crad_title{padding:10px 20px;font-size: 16px;border-bottom: 1px solid ghostwhite;}

#notice{height: 300px;padding: 0px;}
#hot_lable{height: 300px;}
#blog{width: 100%; height: 650px;}

#hot_qa{height: 500px;}
#hot_problem{height: 500px;}


#hot_special{height: 610px;}
#open_source_ranking{height: 610px;}