.questions_title{font-size: 19px;color:gray;font-weight: 500;}
.crad_title{padding:10px 20px;font-size: 16px;border-bottom: 1px solid ghostwhite;}
.subtitle{margin-top: 15px;}
.lable{border: 1px solid gainsboro; border-radius: 10px;padding: 3px 5px;}
.q_a_title{padding:10px 20px;font-size: 16px;border-bottom: 1px solid ghostwhite;}

.user_info span{cursor: pointer;}
