<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关于</title>
		
		<link rel="stylesheet" href="//cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css">
		<link rel="stylesheet" href="../plugins/layui/css/layui.css">
		<link rel="stylesheet" href="../plugins/Hui-iconfont/1.0.8/iconfont.css"  />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/aboutMePage.css" />
		
	</head>
	<body>
		<div class="mdui-card small_card" style="min-height: 1000px;">
	  		<div class="q_a_title">『关于极客屋』</div>
	  		<br />
			<span class="motto mdui-m-l-4">极客屋是极客们的社区。在这里大家能够多多分享自己正在做的有趣事物、最近的学习、交流想法，在这里找到朋友认识更多有趣的人。</span><br /><br />
			<span class="bt mdui-m-l-4">为了保持这里的良好氛围，极客屋有自己的明确规则：</span><br /><br />
			<span class="provide mdui-m-l-4">• 这里绝对不讨论任何有关盗版软件、音乐、电影如何获得的问题</span><br /><br />
			<span class="provide mdui-m-l-4">• 这里绝对不会全文转载任何文章，而只会以链接方式分享</span><br /><br />
			<span class="provide mdui-m-l-4">• 这里绝对不会有任何教人如何钻空子的讨论</span><br /><br />
			<span class="provide mdui-m-l-4">• 这里感激和崇尚美的事物</span><br /><br />
			<span class="provide mdui-m-l-4">• 这里尊重原创</span><br /><br />
			<span class="provide mdui-m-l-4">• 这里反对中文互联网上的无信息量习惯如“顶”，“沙发”，“前排”，“留名”，“路过”，“不明觉厉”</span><br /><br />
			<span class="provide mdui-m-l-4">• 这里禁止发布人身攻击、仇恨、暴力、侮辱性的言辞、暴露他人隐私的“人肉贴”</span><br /><br />
			<span class="provide mdui-m-l-4">• 遵守中国的法律</span><br /><br /><br /><br />
			
			<span class="motto mdui-m-l-4">注意：</span><br /><br />
			<span class="bt mdui-m-l-4">为了获得访问 极客屋 的最佳体验，我们推荐使用 Google Chrome 或 Mozilla Firefox 浏览器。</span><br /><br /><br /><br />
				
			<span class="motto mdui-m-l-4">代码贡献：</span><br /><br />
			<span class="provide mdui-m-l-4">你可以在GitHub上找到极客屋的代码：<a href="https://github.com/geekUsers" style="color: green;font-weight: bold;">极客屋</a>&nbsp;&nbsp;觉得不错的朋友可以点下<b>star</b>,<b>watch</b>,<b>fork</b>也算是对我们的鼓励了。</span><br /><br />
			<span class="provide mdui-m-l-4">QQ讨论群：<a href="javascript:void(0);" style="color: green;font-weight: bold;">49422384</a></span><br /><br /><br /><br />
				
			<span class="motto mdui-m-l-4">代码贡献人员GitHub：</span><br /><br />
			<span class="provide mdui-m-l-4"><i class="Hui-iconfont" style="font-size: 20px;">&#xe6d1;</i><a href="https://github.com/handexing" target="_blank" style="color: #636363;;font-weight: bold;">handx</a></span>
			<span class="provide mdui-m-l-4"><i class="Hui-iconfont" style="font-size: 20px;">&#xe6d1;</i><a href="https://github.com/yannisPeng" target="_blank" style="color: #636363;;font-weight: bold;">yannisPeng</a></span>
	  	</div>		
	</body>
	
	<script type="text/javascript" src="../js/jquery.min.js" ></script>
	<script src="//cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js"></script>
	<script type="text/javascript" src="../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../js/commonConfig.js" ></script>
	

</html>
