<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		
		<link rel="stylesheet" href="../plugins/mdui/css/mdui.min.css" />
		<link rel="stylesheet" href="../css/indexPage.css" />	
		
	</head>
	<body>
		<div class="mdui-row">
  			<div class="mdui-col-xs-12 mdui-col-sm-8" id="open_source">
  				上期开源投稿展示
  			</div>
  			<div class="mdui-col-xs-6 mdui-col-sm-4" id="hot_lable">
  				热搜标签
  				<hr class="mdui-divider"/>
  			</div>
		</div>
		<div id="blog">
			博客
		</div>
		
		<div class="mdui-row">
  			<div class="mdui-col-xs-12 mdui-col-sm-8" id="open_source">
  				问答热区
  			</div>
  			<div class="mdui-col-xs-6 mdui-col-sm-4" id="hot_lable">
  				技术热帖
  				<hr class="mdui-divider"/>
  			</div>
		</div>
	</body>
	
	<script type="text/javascript" src="../js/jquery.min.js" ></script>
	<script type="text/javascript" src="../plugins/mdui/js/mdui.min.js" ></script>
	
</html>
