<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		
		<link rel="stylesheet" href="../plugins/mdui/css/mdui.min.css" />
		<link rel="stylesheet" href="../css/indexPage.css" />	
		
	</head>
	<body>
		<div class="mdui-row">
  			<div class="mdui-col-xs-12 mdui-col-sm-8" id="open_source">
  				开源投稿展示
  			</div>
  			<div class="mdui-col-xs-6 mdui-col-sm-4" style="border: 1px solid red;">
  				t4est
  			</div>
		</div>
	</body>
	
	<script type="text/javascript" src="../js/jquery.min.js" ></script>
	<script type="text/javascript" src="../plugins/mdui/js/mdui.min.js" ></script>
	
</html>
