<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		
		<link rel="stylesheet" href="../plugins/mdui/css/mdui.min.css" />
		<link rel="stylesheet" href="../plugins/flickerplate/css/flickerplate.css" />
		<link rel="stylesheet" href="../css/indexPage.css" />	
		<link rel="stylesheet" href="../css/common.css" />
		
	</head>
	<body>
		<div class="mdui-row">
  			<div class="mdui-col-xs-12 mdui-col-sm-8" id="notice">
  				<div class="flicker-example" style="height: 300px;">
					<ul>
						<li data-background="../plugins/flickerplate/img/flicker-1.jpg">
							<div class="flick-title">极客屋</div>
							<div class="flick-sub-text">一个开源，好玩、有趣的项目!</div>
						</li>
						<li data-background="../plugins/flickerplate/img/flicker-2.jpg">
							<div class="flick-title">招募开源爱好者</div>
							<div class="flick-sub-text">极客屋：一个开源，好玩、有趣的项目!</div>
						</li>
						<li data-background="../plugins/flickerplate/img/flicker-3.jpg">
							<div class="flick-title">上期开源选拔</div>
							<div class="flick-sub-text">第一期开源选拔，好玩、有趣的项目!</div>
						</li>
					</ul>
				</div>
  			</div>
  			<div class="mdui-col-xs-6 mdui-col-sm-4" id="hot_lable">
  				<div class="mdui-card small_card">
  					<div class="crad_title">热搜标签</div>
  				</div>
  			</div>
		</div>
		<div id="blog" class="mdui-m-t-1">
			<div class="mdui-card small_card">
  				<div class="crad_title">热门文章</div>
				<div class="mdui-row-xs-4">
				  	<div class="mdui-col mdui-m-t-2">
				  		<div class="mdui-card mdui-hoverable">
						  	<div class="mdui-card-media">
						    	<img src="../img/test.jpg"/>
							    <div class="mdui-card-media-covered mdui-card-media-covered-top">
							      	<div class="mdui-card-primary">
							        	<div class="mdui-card-primary-title">java从入门到放弃</div>
							        	<div class="mdui-card-primary-subtitle">一篇学习Java入门的奇书！</div>
							      	</div>
							    </div>
						  	</div>
						  	<div class="mdui-card-actions mdui-float-right">
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe417;</i></a><span style="font-size: 12px;">56</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe87e;</i></a><span style="font-size: 12px;">89</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe253;</i></a><span style="font-size: 12px;">33</span>
						  	</div>
						</div>
				  	</div>
				  	<div class="mdui-col mdui-m-t-2">
				  		<div class="mdui-card mdui-hoverable">
						  	<div class="mdui-card-media">
						    	<img src="../img/test.jpg"/>
							    <div class="mdui-card-media-covered mdui-card-media-covered-top">
							      	<div class="mdui-card-primary">
							        	<div class="mdui-card-primary-title">java从入门到放弃</div>
							        	<div class="mdui-card-primary-subtitle">一篇学习Java入门的奇书！</div>
							      	</div>
							    </div>
						  	</div>
						  	<div class="mdui-card-actions mdui-float-right">
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe417;</i></a><span style="font-size: 12px;">56</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe87e;</i></a><span style="font-size: 12px;">89</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe253;</i></a><span style="font-size: 12px;">33</span>
						  	</div>
						</div>
				  	</div>
				  	<div class="mdui-col mdui-m-t-2">
				  		<div class="mdui-card mdui-hoverable">
						  	<div class="mdui-card-media">
						    	<img src="../img/test.jpg"/>
							    <div class="mdui-card-media-covered mdui-card-media-covered-top">
							      	<div class="mdui-card-primary">
							        	<div class="mdui-card-primary-title">java从入门到放弃</div>
							        	<div class="mdui-card-primary-subtitle">一篇学习Java入门的奇书！</div>
							      	</div>
							    </div>
						  	</div>
						  	<div class="mdui-card-actions mdui-float-right">
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe417;</i></a><span style="font-size: 12px;">56</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe87e;</i></a><span style="font-size: 12px;">89</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe253;</i></a><span style="font-size: 12px;">33</span>
						  	</div>
						</div>
				  	</div>
				  	<div class="mdui-col mdui-m-t-2">
				  		<div class="mdui-card mdui-hoverable">
						  	<div class="mdui-card-media">
						    	<img src="../img/test.jpg"/>
							    <div class="mdui-card-media-covered mdui-card-media-covered-top">
							      	<div class="mdui-card-primary">
							        	<div class="mdui-card-primary-title">java从入门到放弃</div>
							        	<div class="mdui-card-primary-subtitle">一篇学习Java入门的奇书！</div>
							      	</div>
							    </div>
						  	</div>
						  	<div class="mdui-card-actions mdui-float-right">
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe417;</i></a><span style="font-size: 12px;">56</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe87e;</i></a><span style="font-size: 12px;">89</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe253;</i></a><span style="font-size: 12px;">33</span>
						  	</div>
						</div>
				  	</div>
				  	<div class="mdui-col mdui-m-t-2">
				  		<div class="mdui-card mdui-hoverable">
						  	<div class="mdui-card-media">
						    	<img src="../img/test.jpg"/>
							    <div class="mdui-card-media-covered mdui-card-media-covered-top">
							      	<div class="mdui-card-primary">
							        	<div class="mdui-card-primary-title">java从入门到放弃</div>
							        	<div class="mdui-card-primary-subtitle">一篇学习Java入门的奇书！</div>
							      	</div>
							    </div>
						  	</div>
						  	<div class="mdui-card-actions mdui-float-right">
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe417;</i></a><span style="font-size: 12px;">56</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe87e;</i></a><span style="font-size: 12px;">89</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe253;</i></a><span style="font-size: 12px;">33</span>
						  	</div>
						</div>
				  	</div>
				 	<div class="mdui-col mdui-m-t-2">
				 		<div class="mdui-card mdui-hoverable">
						  	<div class="mdui-card-media">
						    	<img src="../img/test.jpg"/>
							    <div class="mdui-card-media-covered mdui-card-media-covered-top">
							      	<div class="mdui-card-primary">
							        	<div class="mdui-card-primary-title">java从入门到放弃</div>
							        	<div class="mdui-card-primary-subtitle">一篇学习Java入门的奇书！</div>
							      	</div>
							    </div>
						  	</div>
						  	<div class="mdui-card-actions mdui-float-right">
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe417;</i></a><span style="font-size: 12px;">56</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe87e;</i></a><span style="font-size: 12px;">89</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe253;</i></a><span style="font-size: 12px;">33</span>
						  	</div>
						</div>
				 	</div>
				  	<div class="mdui-col mdui-m-t-2">
				  		<div class="mdui-card mdui-hoverable">
						  	<div class="mdui-card-media">
						    	<img src="../img/test.jpg"/>
							    <div class="mdui-card-media-covered mdui-card-media-covered-top">
							      	<div class="mdui-card-primary">
							        	<div class="mdui-card-primary-title">java从入门到放弃</div>
							        	<div class="mdui-card-primary-subtitle">一篇学习Java入门的奇书！</div>
							      	</div>
							    </div>
						  	</div>
						  	<div class="mdui-card-actions mdui-float-right">
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe417;</i></a><span style="font-size: 12px;">56</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe87e;</i></a><span style="font-size: 12px;">89</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe253;</i></a><span style="font-size: 12px;">33</span>
						  	</div>
						</div>
				  	</div>
				  	<div class="mdui-col mdui-m-t-2">
				  		<div class="mdui-card mdui-hoverable">
						  	<div class="mdui-card-media">
						    	<img src="../img/test.jpg"/>
							    <div class="mdui-card-media-covered mdui-card-media-covered-top">
							      	<div class="mdui-card-primary">
							        	<div class="mdui-card-primary-title">java从入门到放弃</div>
							        	<div class="mdui-card-primary-subtitle">一篇学习Java入门的奇书！</div>
							      	</div>
							    </div>
						  	</div>
						  	<div class="mdui-card-actions mdui-float-right">
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe417;</i></a><span style="font-size: 12px;">56</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe87e;</i></a><span style="font-size: 12px;">89</span>
						    	<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe253;</i></a><span style="font-size: 12px;">33</span>
						  	</div>
						</div>
				  	</div>
				</div>
				<div class="mdui-valign">
				  	<button class="mdui-center mdui-btn mdui-color-red mdui-ripple mdui-m-t-4" style="width: 400px;">加载更多</button>
				</div>
  			</div>
		</div>
		<div class="mdui-row mdui-m-t-1">
  			<div class="mdui-col-xs-12 mdui-col-sm-8" id="hot_qa">
  				<div class="mdui-card small_card">
  					<div class="crad_title">问与答</div>
  					<ul class="mdui-list mdui-list-dense">
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
					      		<div class="mdui-list-item-title">Brunch this weekend?</div>
					      		<div class="mdui-list-item-text"><span class="mdui-text-color-theme-text">All Connors</span> - I'll be in your neighborhood doing errands this weekend. Do you want ...</div>
					    	</div>
					  	</li>
					  	<li class="mdui-divider-inset mdui-m-y-0"></li>
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
							    <div class="mdui-list-item-title">Summer BBQ</div>
							    <div class="mdui-list-item-text"><span class="mdui-text-color-theme-text">to Alex, Scott, Jennifer</span> - Wish I could come, but I'm out of town this weekend.</div>
					    	</div>
					  	</li>
  						<li class="mdui-divider-inset mdui-m-y-0"></li>
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
					      		<div class="mdui-list-item-title">Oui oui</div>
					      		<div class="mdui-list-item-text"><span class="mdui-text-color-theme-text">Sandra Adams</span> - Do you have Paris recommendations? Have you ever been?</div>
					    	</div>
					  	</li>
					  	<li class="mdui-divider-inset mdui-m-y-0"></li>
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
					      		<div class="mdui-list-item-title">Oui oui</div>
					      		<div class="mdui-list-item-text"><span class="mdui-text-color-theme-text">Sandra Adams</span> - Do you have Paris recommendations? Have you ever been?</div>
					    	</div>
					  	</li>
					  	<li class="mdui-divider-inset mdui-m-y-0"></li>
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
					      		<div class="mdui-list-item-title">Oui oui</div>
					      		<div class="mdui-list-item-text"><span class="mdui-text-color-theme-text">Sandra Adams</span> - Do you have Paris recommendations? Have you ever been?</div>
					    	</div>
					  	</li>
					  	<li class="mdui-divider-inset mdui-m-y-0"></li>
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
					      		<div class="mdui-list-item-title">Oui oui</div>
					      		<div class="mdui-list-item-text"><span class="mdui-text-color-theme-text">Sandra Adams</span> - Do you have Paris recommendations? Have you ever been?</div>
					    	</div>
					  	</li>
					</ul>
					<div class="mdui-valign">
				  		<button class="mdui-center mdui-btn mdui-color-red mdui-ripple mdui-m-t-4" style="width: 400px;">加载更多</button>
					</div>
  				</div>
  			</div>
  			<div class="mdui-col-xs-6 mdui-col-sm-4" id="hot_problem">
  				<div class="mdui-card small_card">
  					<div class="crad_title">今日热议</div>
  				</div>
  			</div>
		</div>
		<div class="mdui-row mdui-m-t-1">
  			<div class="mdui-col-xs-12 mdui-col-sm-8" id="hot_special">
  				<div class="mdui-card small_card">
  					<div class="crad_title">专题学习</div>
  					<div class="mdui-row-xs-4">
					  	<div class="mdui-col mdui-m-t-1">
					  		<div class="mdui-grid-tile">
  								<img src="../img/test.jpg"/>
							  	<div class="mdui-grid-tile-actions">
							    	<div class="mdui-grid-tile-text">
								      	<div class="mdui-grid-tile-title">JAVA</div>
								      	<div class="mdui-grid-tile-subtitle">java学习集中营</div>
							    	</div>
							    	<div class="mdui-grid-tile-buttons">
							      		<button class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">star_border</i></button>
							    	</div>
							  	</div>
							</div>
					  	</div>
					  	<div class="mdui-col mdui-m-t-1">
					  		<div class="mdui-grid-tile">
  								<img src="../img/test.jpg"/>
							  	<div class="mdui-grid-tile-actions">
							    	<div class="mdui-grid-tile-text">
								      	<div class="mdui-grid-tile-title">Spring</div>
								      	<div class="mdui-grid-tile-subtitle">spring家族学习集中营</div>
							    	</div>
							    	<div class="mdui-grid-tile-buttons">
							      		<button class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">star_border</i></button>
							    	</div>
							  	</div>
							</div>
					  	</div>
					  	<div class="mdui-col mdui-m-t-1">
					  		<div class="mdui-grid-tile">
  								<img src="../img/test.jpg"/>
							  	<div class="mdui-grid-tile-actions">
							    	<div class="mdui-grid-tile-text">
								      	<div class="mdui-grid-tile-title">SQL</div>
								      	<div class="mdui-grid-tile-subtitle">数据库学习集中营</div>
							    	</div>
							    	<div class="mdui-grid-tile-buttons">
							      		<button class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">star_border</i></button>
							    	</div>
							  	</div>
							</div>
					  	</div>
					  	<div class="mdui-col mdui-m-t-1">
					  		<div class="mdui-grid-tile">
  								<img src="../img/test.jpg"/>
							  	<div class="mdui-grid-tile-actions">
							    	<div class="mdui-grid-tile-text">
								      	<div class="mdui-grid-tile-title">大数据</div>
								      	<div class="mdui-grid-tile-subtitle">大数据学习集中营</div>
							    	</div>
							    	<div class="mdui-grid-tile-buttons">
							      		<button class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">star_border</i></button>
							    	</div>
							  	</div>
							</div>
					  	</div>
					  	<div class="mdui-col mdui-m-t-1">
					  		<div class="mdui-grid-tile">
  								<img src="../img/test.jpg"/>
							  	<div class="mdui-grid-tile-actions">
							    	<div class="mdui-grid-tile-text">
								      	<div class="mdui-grid-tile-title">大数据</div>
								      	<div class="mdui-grid-tile-subtitle">大数据学习集中营</div>
							    	</div>
							    	<div class="mdui-grid-tile-buttons">
							      		<button class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">star_border</i></button>
							    	</div>
							  	</div>
							</div>
					  	</div>
					  	<div class="mdui-col mdui-m-t-1">
					  		<div class="mdui-grid-tile">
  								<img src="../img/test.jpg"/>
							  	<div class="mdui-grid-tile-actions">
							    	<div class="mdui-grid-tile-text">
								      	<div class="mdui-grid-tile-title">大数据</div>
								      	<div class="mdui-grid-tile-subtitle">大数据学习集中营</div>
							    	</div>
							    	<div class="mdui-grid-tile-buttons">
							      		<button class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">star_border</i></button>
							    	</div>
							  	</div>
							</div>
					  	</div>
					  	<div class="mdui-col mdui-m-t-1">
					  		<div class="mdui-grid-tile">
  								<img src="../img/test.jpg"/>
							  	<div class="mdui-grid-tile-actions">
							    	<div class="mdui-grid-tile-text">
								      	<div class="mdui-grid-tile-title">大数据</div>
								      	<div class="mdui-grid-tile-subtitle">大数据学习集中营</div>
							    	</div>
							    	<div class="mdui-grid-tile-buttons">
							      		<button class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">star_border</i></button>
							    	</div>
							  	</div>
							</div>
					  	</div>
					  	<div class="mdui-col mdui-m-t-1">
					  		<div class="mdui-grid-tile">
  								<img src="../img/test.jpg"/>
							  	<div class="mdui-grid-tile-actions">
							    	<div class="mdui-grid-tile-text">
								      	<div class="mdui-grid-tile-title">大数据</div>
								      	<div class="mdui-grid-tile-subtitle">大数据学习集中营</div>
							    	</div>
							    	<div class="mdui-grid-tile-buttons">
							      		<button class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">star_border</i></button>
							    	</div>
							  	</div>
							</div>
					  	</div>
					  	<div class="mdui-col mdui-m-t-1">
					  		<div class="mdui-grid-tile">
  								<img src="../img/test.jpg"/>
							  	<div class="mdui-grid-tile-actions">
							    	<div class="mdui-grid-tile-text">
								      	<div class="mdui-grid-tile-title">大数据</div>
								      	<div class="mdui-grid-tile-subtitle">大数据学习集中营</div>
							    	</div>
							    	<div class="mdui-grid-tile-buttons">
							      		<button class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">star_border</i></button>
							    	</div>
							  	</div>
							</div>
					  	</div>
					  	<div class="mdui-col mdui-m-t-1">
					  		<div class="mdui-grid-tile">
  								<img src="../img/test.jpg"/>
							  	<div class="mdui-grid-tile-actions">
							    	<div class="mdui-grid-tile-text">
								      	<div class="mdui-grid-tile-title">大数据</div>
								      	<div class="mdui-grid-tile-subtitle">大数据学习集中营</div>
							    	</div>
							    	<div class="mdui-grid-tile-buttons">
							      		<button class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">star_border</i></button>
							    	</div>
							  	</div>
							</div>
					  	</div>
					  	<div class="mdui-col mdui-m-t-1">
					  		<div class="mdui-grid-tile">
  								<img src="../img/test.jpg"/>
							  	<div class="mdui-grid-tile-actions">
							    	<div class="mdui-grid-tile-text">
								      	<div class="mdui-grid-tile-title">大数据</div>
								      	<div class="mdui-grid-tile-subtitle">大数据学习集中营</div>
							    	</div>
							    	<div class="mdui-grid-tile-buttons">
							      		<button class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">star_border</i></button>
							    	</div>
							  	</div>
							</div>
					  	</div>
					  	<div class="mdui-col mdui-m-t-1">
					  		<div class="mdui-grid-tile">
  								<img src="../img/test.jpg"/>
							  	<div class="mdui-grid-tile-actions">
							    	<div class="mdui-grid-tile-text">
								      	<div class="mdui-grid-tile-title">大数据</div>
								      	<div class="mdui-grid-tile-subtitle">大数据学习集中营</div>
							    	</div>
							    	<div class="mdui-grid-tile-buttons">
							      		<button class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">star_border</i></button>
							    	</div>
							  	</div>
							</div>
					  	</div>
					</div>
					<div class="mdui-valign">
				  		<button class="mdui-center mdui-btn mdui-color-red mdui-ripple mdui-m-t-4" style="width: 400px;">加载更多</button>
					</div>
  				</div>
  			</div>
  			<div class="mdui-col-xs-6 mdui-col-sm-4" id="open_source_ranking">
  				<div class="mdui-card small_card">
  					<div class="crad_title">开源排行</div>
  					<ul class="mdui-list">
					  	<li class="mdui-list-item mdui-ripple">
						    <div class="mdui-list-item-avatar mdui-color-amber">1</div>
						    <div class="mdui-list-item-content">Vue项目实战</div>
					  	</li>
					  	<li class="mdui-list-item mdui-ripple">
						    <div class="mdui-list-item-avatar mdui-color-blue">2</div>
						    <div class="mdui-list-item-content">个性化网络爬虫Timbr</div>
					  	</li>
					  	<li class="mdui-list-item mdui-ripple">
						    <div class="mdui-list-item-avatar mdui-color-orange">3</div>
						    <div class="mdui-list-item-content">微信第三方客户端</div>
					  	</li>
					  	<li class="mdui-list-item mdui-ripple">
						    <div class="mdui-list-item-avatar mdui-color-red">4</div>
						    <div class="mdui-list-item-content">基于Angular4实现的自动生成笔记的应用</div>
					  	</li>
					  	<li class="mdui-list-item mdui-ripple">
						    <div class="mdui-list-item-avatar mdui-color-green">5</div>
						    <div class="mdui-list-item-content">远程 Headless Chrome 控制库</div>
					  	</li>
					  	<li class="mdui-list-item mdui-ripple">
						    <div class="mdui-list-item-avatar mdui-color-purple">6</div>
						    <div class="mdui-list-item-content">基于Vue和ElementUI的后台管理系统</div>
					  	</li>
					  	<li class="mdui-list-item mdui-ripple">
						    <div class="mdui-list-item-avatar mdui-color-teal">7</div>
						    <div class="mdui-list-item-content">spring-data-jpa-datatables</div>
					  	</li>
					  	<li class="mdui-list-item mdui-ripple">
						    <div class="mdui-list-item-avatar mdui-color-deep-orange">8</div>
						    <div class="mdui-list-item-content">推荐python goose的升级版：newspaper</div>
					  	</li>
					  	<li class="mdui-list-item mdui-ripple">
						    <div class="mdui-list-item-avatar mdui-color-lime">9</div>
						    <div class="mdui-list-item-content">SelectPage 多功能的分页选择器</div>
					  	</li>
					  	<li class="mdui-list-item mdui-ripple">
						    <div class="mdui-list-item-avatar mdui-color-cyan">10</div>
						    <div class="mdui-list-item-content">python的paralell/pipeline库</div>
					  	</li>
					</ul>
  				</div>
  			</div>
		</div>
	</body>
	
	<script type="text/javascript" src="../js/jquery.min.js" ></script>
	<script type="text/javascript" src="../plugins/mdui/js/mdui.min.js" ></script>
	<script type="text/javascript" src="../plugins/flickerplate/js/min/modernizr-custom-v2.7.1.min.js" ></script>
	<script type="text/javascript" src="../plugins/flickerplate/js/min/hammer-v2.0.3.min.js" ></script>
	<script type="text/javascript" src="../plugins/flickerplate/js/min/flickerplate.min.js" ></script>
	
	<script type="application/javascript">
		
		$(function(){
			$('.flicker-example').flickerplate({
	            auto_flick 				: true,
	            auto_flick_delay 		: 8,
	            flick_animation 		: 'transform-slide'
        	});
		});
		
	</script>
</html>
