<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>标签节点</title>
		
		<link rel="stylesheet" href="../plugins/mdui/css/mdui.min.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/lableNode.css" />
		
	</head>
	<body>
		<div class="mdui-container" style="padding: 0px; height: 2100px;">
			<div class="mdui-card small_card">
	  			<div class="crad_title">标签节点</div>
	  			<div class="mdui-tab" mdui-tab>
				 	<a href="#lable" class="mdui-ripple">标签</a>
				  	<a href="#node" class="mdui-ripple">节点</a>
				</div>
				<div id="lable" class="mdui-m-t-1">
					<div class="crad_title mdui-m-t-2">JAVA</div>
					<div>
						<ul class="mdui-m-t-2">
							<li>IO</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
						</ul>
					</div>
					<div class="mdui-clearfix"></div>
					<div class="crad_title mdui-m-t-5">Spring</div>
					<div>
						<ul class="mdui-m-t-1">
							<li>IO</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
						</ul>
					</div>
				</div>
				<div id="node" class="mdui-m-t-1">
					<div class="crad_title mdui-m-t-2">JAVA</div>
					<div>
						<ul class="mdui-m-t-2">
							<li>IO</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
						</ul>
					</div>
					<div class="mdui-clearfix"></div>
					<div class="crad_title mdui-m-t-5">Spring</div>
					<div>
						<ul class="mdui-m-t-1">
							<li>IO</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
							<li>多线程</li>
						</ul>
					</div>
				</div>
	  		</div>		
		</div>
	</body>
	
	<script type="text/javascript" src="../js/jquery.min.js" ></script>
	<script type="text/javascript" src="../plugins/mdui/js/mdui.min.js" ></script>
	
	<script type="application/javascript">
		
		$(function(){
			
		});
		
	</script>
</html>
