<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>标签节点</title>
		
		<link rel="stylesheet" href="//cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css">
		<link rel="stylesheet" href="../plugins/layui/css/layui.css">
		<link rel="stylesheet" href="../plugins/Hui-iconfont/1.0.8/iconfont.css"  />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/lableNode.css" />
		
	</head>
	<body>
			<div class="mdui-card small_card mdui-p-b-4">
	  			<div class="crad_title">『标签节点』</div>
				<div id="lable" class="mdui-m-t-1">
							
				</div>
				
	  		</div>			
	</body>
	
	<script type="text/javascript" src="../js/jquery.min.js" ></script>
	<script src="//cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js"></script>
	<script type="text/javascript" src="../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../js/commonConfig.js" ></script>
	<script type="text/javascript" src="../js/labelConfig.js" ></script>
	
	<script type="application/javascript">
		
		$(function(){
			$(function(){
				new labelConfig();
			});
		});
		
		
	</script>

</html>
