<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>问与答</title>
		
		<link rel="stylesheet" href="../plugins/mdui/css/mdui.min.css" />
		<link rel="stylesheet" href="../plugins/flickerplate/css/flickerplate.css" />
		<link rel="stylesheet" href="../plugins/layui/css/layui.css">
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/questionsAnswersPage.css" />
		
	</head>
	<body>
		<div class="mdui-container" style="padding: 0px; height: 2100px;">
			<div class="mdui-card small_card">
	  			<div class="crad_title">问与答</div>
	  			<div class="mdui-tab" mdui-tab>
	  				<a href="#questions_answers" class="mdui-ripple">问与答</a>
				 	<a href="#technology" class="mdui-ripple">技术</a>
				  	<a href="#node" class="mdui-ripple">创意</a>
				  	<a href="#node" class="mdui-ripple">好玩</a>
				  	<a href="#node" class="mdui-ripple">吐槽</a>
				  	<a href="#node" class="mdui-ripple">酷工作</a>
				  	<a href="#node" class="mdui-ripple">城市</a>
				  	<a href="#node" class="mdui-ripple">交易</a>
				  	<a href="#node" class="mdui-ripple">最热</a>
				</div>
				<div id="questions_answers" class="mdui-m-t-1">
					<div class="crad_title mdui-m-t-2">问与答</div>
					<ul class="mdui-list mdui-list-dense">
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content" style="padding-bottom: 20px;padding-top: 15px;">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
					      		<div class="mdui-list-item-title questions_title">mysql 数据库同步有什么好多方案吗？</div>
					      		<div class="mdui-list-item-text">
					      			<div class="subtitle">
					      				<span class="lable">mysql</span>
					      				•  <b>handx</b>  •  2 分钟前  •  最后回复来自 <b>jack</b>
					      			</div>
					      		</div>
					    	</div>
					  	</li>
					  	<li class="mdui-divider-inset mdui-m-y-0"></li>
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content" style="padding-bottom: 20px;padding-top: 15px;">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
							    <div class="mdui-list-item-title questions_title">想买小米 Mix 当平板用，是不是要被打醒</div>
							    <div class="mdui-list-item-text">
					      			<div class="subtitle">
					      				<span class="lable">mysql</span>
					      				•  <b>handx</b>  •  2 分钟前  •  最后回复来自 <b>jack</b>
					      			</div>
					      		</div>
					    	</div>
					  	</li>
  						<li class="mdui-divider-inset mdui-m-y-0"></li>
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content" style="padding-bottom: 20px;padding-top: 15px;">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
					      		<div class="mdui-list-item-title questions_title">每一次有道云笔记的大版本更新都会出大 BUG，服了</div>
					      		<div class="mdui-list-item-text">
					      			<div class="subtitle">
					      				<span class="lable">mysql</span>
					      				•  <b>handx</b>  •  2 分钟前  •  最后回复来自 <b>jack</b>
					      			</div>
					      		</div>
					    	</div>
					  	</li>
					  	<li class="mdui-divider-inset mdui-m-y-0"></li>
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content" style="padding-bottom: 20px;padding-top: 15px;">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
					      		<div class="mdui-list-item-title questions_title">mysql 数据库同步有什么好多方案吗？</div>
					      		<div class="mdui-list-item-text">
					      			<div class="subtitle">
					      				<span class="lable">mysql</span>
					      				•  <b>handx</b>  •  2 分钟前  •  最后回复来自 <b>jack</b>
					      			</div>
					      		</div>
					    	</div>
					  	</li>
					  	<li class="mdui-divider-inset mdui-m-y-0"></li>
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content" style="padding-bottom: 20px;padding-top: 15px;">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
					      		<div class="mdui-list-item-title questions_title">mysql 数据库同步有什么好多方案吗？</div>
					      		<div class="mdui-list-item-text">
					      			<div class="subtitle">
					      				<span class="lable">mysql</span>
					      				•  <b>handx</b>  •  2 分钟前  •  最后回复来自 <b>jack</b>
					      			</div>
					      		</div>
					    	</div>
					  	</li>
					  	<li class="mdui-divider-inset mdui-m-y-0"></li>
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content" style="padding-bottom: 20px;padding-top: 15px;">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
					      		<div class="mdui-list-item-title questions_title">mysql 数据库同步有什么好多方案吗？</div>
					      		<div class="mdui-list-item-text">
					      			<div class="subtitle">
					      				<span class="lable">mysql</span>
					      				•  <b>handx</b>  •  2 分钟前  •  最后回复来自 <b>jack</b>
					      			</div>
					      		</div>
					    	</div>
					  	</li>
					</ul>					
				</div>
				
				<div id="technology" class="mdui-m-t-1">
					<div class="crad_title mdui-m-t-2">技术</div>
					<ul class="mdui-list mdui-list-dense">
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content" style="padding-bottom: 20px;padding-top: 15px;">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
					      		<div class="mdui-list-item-title questions_title">mysql 数据库同步有什么好多方案吗？</div>
					      		<div class="mdui-list-item-text">
					      			<div class="subtitle">
					      				<span class="lable">mysql</span>
					      				•  <b>handx</b>  •  2 分钟前  •  最后回复来自 <b>jack</b>
					      			</div>
					      		</div>
					    	</div>
					  	</li>
					  	<li class="mdui-divider-inset mdui-m-y-0"></li>
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content" style="padding-bottom: 20px;padding-top: 15px;">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
							    <div class="mdui-list-item-title questions_title">mysql 数据库同步有什么好多方案吗？</div>
							    <div class="mdui-list-item-text">
					      			<div class="subtitle">
					      				<span class="lable">mysql</span>
					      				•  <b>handx</b>  •  2 分钟前  •  最后回复来自 <b>jack</b>
					      			</div>
					      		</div>
					    	</div>
					  	</li>
  						<li class="mdui-divider-inset mdui-m-y-0"></li>
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content" style="padding-bottom: 20px;padding-top: 15px;">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
					      		<div class="mdui-list-item-title questions_title">mysql 数据库同步有什么好多方案吗？</div>
					      		<div class="mdui-list-item-text">
					      			<div class="subtitle">
					      				<span class="lable">mysql</span>
					      				•  <b>handx</b>  •  2 分钟前  •  最后回复来自 <b>jack</b>
					      			</div>
					      		</div>
					    	</div>
					  	</li>
					  	<li class="mdui-divider-inset mdui-m-y-0"></li>
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content" style="padding-bottom: 20px;padding-top: 15px;">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
					      		<div class="mdui-list-item-title questions_title">mysql 数据库同步有什么好多方案吗？</div>
					      		<div class="mdui-list-item-text">
					      			<div class="subtitle">
					      				<span class="lable">mysql</span>
					      				•  <b>handx</b>  •  2 分钟前  •  最后回复来自 <b>jack</b>
					      			</div>
					      		</div>
					    	</div>
					  	</li>
					  	<li class="mdui-divider-inset mdui-m-y-0"></li>
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content" style="padding-bottom: 20px;padding-top: 15px;">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
					      		<div class="mdui-list-item-title questions_title">mysql 数据库同步有什么好多方案吗？</div>
					      		<div class="mdui-list-item-text">
					      			<div class="subtitle">
					      				<span class="lable">mysql</span>
					      				•  <b>handx</b>  •  2 分钟前  •  最后回复来自 <b>jack</b>
					      			</div>
					      		</div>
					    	</div>
					  	</li>
					  	<li class="mdui-divider-inset mdui-m-y-0"></li>
					  	<li class="mdui-list-item mdui-ripple">
					    	<div class="mdui-list-item-avatar"><img src="../img/logo.png"/></div>
					    	<div class="mdui-list-item-content" style="padding-bottom: 20px;padding-top: 15px;">
					    		<div class="mdui-float-right"><a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe0c9;</i></a><span style="font-size: 12px;">33</span></div>
					      		<div class="mdui-list-item-title questions_title">mysql 数据库同步有什么好多方案吗？</div>
					      		<div class="mdui-list-item-text">
					      			<div class="subtitle">
					      				<span class="lable">mysql</span>
					      				•  <b>handx</b>  •  2 分钟前  •  最后回复来自 <b>jack</b>
					      			</div>
					      		</div>
					    	</div>
					  	</li>
					</ul>		
				</div>
				<div class="mdui-valign">
				  	<div id="paging" class="mdui-center"></div>
				</div>
	  		</div>		
		</div>
	</body>
	
	<script type="text/javascript" src="../js/jquery.min.js" ></script>
	<script type="text/javascript" src="../plugins/mdui/js/mdui.min.js" ></script>
	<script type="text/javascript" src="../plugins/layui/layui.js"></script>
	
	<script type="application/javascript">
		
		$(function(){
			layui.use(['laypage', 'layer'], function(){
	  			var laypage = layui.laypage;
	  			layer = layui.layer;
	  			
			  	laypage({
			    	cont: 'paging'
			    	,pages: 100 //得到总页数
			    	,jump: function(obj){
	//		    		self.attachList(obj.curr-1,false);
						console.log(obj);
			    	}
			  	});
	  
			});
		});
		
		
	</script>

</html>
