<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>问与答</title>
				
		<meta name="keywords" content="极客屋,极客,geek,geekhome,开源,博客,问与答,专题,标签"/>
		<meta name="description" content="极客屋是极客们的社区。在这里大家能够多多分享自己正在做的有趣事物、最近的学习、交流想法，在这里找到朋友认识更多有趣的人。"/>
		<meta name="robots" content="all" />
		
		<link rel="stylesheet" href="../plugins/mdui/css/mdui.min.css">
		<link rel="stylesheet" href="../plugins/layui/css/layui.css">
		<link rel="stylesheet" href="../plugins/Hui-iconfont/1.0.8/iconfont.css"  />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/questionsAnswersPage.css" />
		
	</head>
	<body id="questionAnswersPage">
		<div class="mdui-card small_card">
	  		<div class="q_a_title">『问与答』</div>
	  		<div class="mdui-tab mdui-tab-full-width" id="q_a_tab">
			</div>
				
			<div id="tab_content" class="mdui-m-t-1" style="height: 1000px;">
			</div>
				
			<div class="mdui-valign" style="height: 100px;">
				<div id="paging" class="mdui-center"></div>
			</div>
	  	</div>		
	</body>
	
	<script type="text/javascript" src="../js/jquery.min.js" ></script>
	<script type="text/javascript" src="../plugins/mdui/js/mdui.min.js"></script>
	<script type="text/javascript" src="../js/jquery.timeago.js" ></script>
	<script type="text/javascript" src="../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../js/commonConfig.js" ></script>
	<script type="text/javascript" src="../js/questionAnswersConfig.js" ></script>
	
	<script type="application/javascript">
		
		var question_answers_config
		
		$(function(){
			question_answers_config = new questionAnswersConfig();
		});
		
	</script>

</html>
