<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>专题</title>
		
		<link rel="stylesheet" href="../plugins/mdui/css/mdui.min.css">
		<link rel="stylesheet" href="../plugins/layui/css/layui.css">
		<link rel="stylesheet" href="../plugins/Hui-iconfont/1.0.8/iconfont.css"  />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/questionsAnswersPage.css" />
		
	</head>
	<body id="specialPage">
		<div class="mdui-card small_card" style="height: 870px;">
	  		<div class="q_a_title">『专题』</div>
	  		<div class="mdui-col-xs-12 mdui-col-sm-12 mdui-m-t-1">
	  			<div class="mdui-row-xs-6" id="specialList"></div>
  			</div>
	  	</div>		
	</body>
	
	<script type="text/javascript" src="../js/jquery.min.js" ></script>
	<script type="text/javascript" src="../plugins/mdui/js/mdui.min.js"></script>
	<script type="text/javascript" src="../plugins/layui/layui.js"></script>
	<script type="text/javascript" src="../js/commonConfig.js" ></script>
	<script type="text/javascript" src="../js/specialConfig.js"></script>
	
	<script type="application/javascript">
		
		$(function(){
			new specialConfig();
		});
		
	</script>

</html>
